/*Selector por classe*/
.center{
    text-align: center;
    color: brown;
    font-size: 100px;
}

/*Exemplo Selector baseado em combinador */
div > p{
    background-color: yellowgreen;  
}

/*Exemplos para links */
/*Link não visitado */
a:link{
    color: aliceblue;
}
/*Visitado*/
a:visited{
    color: brown;
}
/*Mouse over no link*/
a:hover{
    color: aquamarine;
}
/*link selecionado*/
a:active{
    color: bisque;
}

.container{
    color: red;
    border: 10px solid blue;
}
.inherit{color: inherit;border: inherit;}
.initial{color: initial;border: initial;}
.unset{color: unset;border: unset;}